@use "../../styles/variables.scss";
@use "../../styles/mixins.scss" as mixins;

.card {
  @include mixins.card;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 200px;
  box-shadow: 3px 5px 20px 0 rgba(0, 0, 0, 0.04);

  @include mixins.mobile {
    min-width: 150px;
  }
}

.iconWrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  @include mixins.flex-center;

  svg {
    width: 20px;
    height: 20px;
  }
}

.label {
  text-transform: uppercase;
  // letter-spacing: 0.5px;
  color: #545f7d;
  font-family: "Work Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.value {
  font-size: 24px;
  font-weight: 600;
  color: variables.$primary-blue;

  @include mixins.mobile {
    font-size: 20px;
  }
}
